h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.visually-hidden {
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

.portfolio__list, .portfolio__filters, .address, .clients, .team, .app, .benefits, .menu-list, .mob-nav__list, .contacts, .nav__list, .social {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #ffffff;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.logo {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo__web--accent, .logo:hover, .logo:focus {
  color: #2196f3;
}

.button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 24px;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .button {
    padding: 10px 32px;
    min-width: 216px;
  }
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}
.social__link:hover, .social__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.social__link:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  fill: currentColor;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.header__logo {
  margin-right: 93px;
}
.header__menu {
  display: flex;
  align-items: center;
}

.nav {
  display: none;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding: 32px 0;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav__link--current, .nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
.nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts {
  display: flex;
  margin-left: auto;
  display: none;
}
.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.menu-open-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px 40px;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

.menu-close-btn {
  position: absolute;
  right: 10px;
}

.mob-nav__list {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .mob-nav__list {
    display: flex;
    margin-bottom: 0;
  }
}

.mob-nav__item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (max-width: 768px) {
  .mob-nav__item:not(:last-child) {
    margin-bottom: 32px;
    margin-right: 0;
  }
}

.menu-list {
  display: flex;
  align-items: baseline;
}
.menu-list__item {
  position: relative;
}
.menu-list__item:not(:last-child)::before {
  position: absolute;
  right: -11px;
  bottom: 0;
  display: inline-block;
  content: "";
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}
.menu-list__item:not(:last-child) {
  margin-right: 21px;
}
.menu-list__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu-list {
    display: none;
  }
}

.hero {
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bcg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: #2f303a;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
  }
}
.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .benefits__svg-container {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__svg-container {
    width: 270px;
  }
}

.benefits__sub-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .activities {
    display: block;
    padding-top: 0;
    padding-bottom: 94px;
  }
}

.activities__title {
  margin-bottom: 50px;
}

.app {
  display: flex;
}

.app__item:not(:last-child) {
  margin-right: 30px;
}

.app__icon {
  display: block;
}

.app__label {
  position: relative;
}

.app__sub-title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.squad {
  background-color: #f5f4fa;
}
.squad__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .squad__title {
    margin-bottom: 50px;
  }
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  max-width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__icon {
  display: block;
  width: 100%;
}

.team__info {
  padding: 30px 122px 24px;
}
@media screen and (min-width: 768px) {
  .team__info {
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .team__info {
    padding: 30px 32px;
  }
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

.clientele__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clientele__title {
    margin-bottom: 50px;
  }
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: row;
}

.clients__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  min-width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  color: #ffffff;
  background-color: #2f303a;
}
.footer__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    text-align: start;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer__join-in {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__join-in {
    margin-right: 93px;
    margin-bottom: 0;
  }
}
.footer .logo-address {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer .logo-address {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .logo-address {
    margin-right: 92px;
    margin-bottom: 0;
  }
}
.footer .join-in__sub-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer .join-in__sub-title {
    text-align: start;
  }
}
.footer .social__link--gray-bcg {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: #44454e;
}
.footer .social__link--gray-bcg:hover, .footer .social__link--gray-bcg:focus {
  background-color: #2196f3;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.subscribe__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.45;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: flex;
    gap: 12px;
  }
}

.subscribe__input {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 15px 16px;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 20px;
  max-width: 450px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-bottom: 0;
  }
}
.subscribe__input:focus {
  border: 1px solid #2196f3;
}

.button--secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 28px;
  min-width: 200px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .button--secondary {
    margin: 0 0;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  min-height: 581px;
  width: 528px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
}
.button-close:hover, .button-close:focus {
  fill: #2196f3;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #212121;
}

.modal__label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal__text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal__input:focus {
  outline: transparent;
  border: 1px solid #2196f3;
}

.modal__svg {
  position: absolute;
  top: 29px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__svg {
  fill: #2196f3;
}
.modal__svg:focus {
  fill: #2196f3;
}

.modal__label-textarea {
  margin-bottom: 20px;
}

.modal__textarea {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.modal__textarea:focus {
  outline: transparent;
  border: 1px solid #2196f3;
}
.modal__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #757575;
}

.modal__icon-checkbox {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
}
.modal__input-checkbox:checked + .modal__icon-checkbox {
  background-color: #2196f3;
  border-color: transparent;
  fill: #ffffff;
}

.modal__link--license-agree {
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.71;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
  cursor: pointer;
}

.button--modal {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio__filters {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.portfolio__filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding: 6px 22px;
  min-width: 73px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}
.portfolio__button:hover, .portfolio__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
}
.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.project {
  text-decoration: none;
  color: #212121;
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__img {
  display: block;
  width: 100%;
}

.project__thumb-text {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}
.project:hover .project__thumb-text, .project:focus .project__thumb-text {
  transform: translateY(0);
}

.project__content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__works {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}/*# sourceMappingURL=main.css.map */