:root {
  --primary-text-color: #212121;
  --primary-white-color: #ffffff;
  --secondary-text-color: #757575;
  --logo-black-color: #000000;
  --bcg-hero-footer-color: #2f303a;
  --bcg-secondary-color: #f5f4fa;
  --accent-color: #2196f3;
  --text-footer-address-color: rgba(255, 255, 255, 0.6);
  --hover-button: #188ce8;
  --border-bottom-hero: #ececec;
  --border-content-portfolio: #eeeeee;
  --icon-envelope-phone: #757575;
  --social-networks: #afb1b8;
  --bcg-icon-footer: #44454e;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --label-img-section: rgba(47, 48, 58, 0.8);
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

/* header */
.logo {
  transition: color var(--transition-duration) var(--transition-timing);

  color: var(--logo-black-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header__logo {
  margin-right: 93px;
}

.header {
  border-bottom: 1px solid var(--border-bottom-hero);
}

.logo--accent,
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.header__menu {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;

  transition: color var(--transition-duration) var(--transition-timing);

  display: block;
  padding: 32px 0;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav__link--current,
.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  transition: color var(--transition-duration) var(--transition-timing);

  display: flex;
  align-items: center;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;

  fill: currentColor;
}

/* Hero */
.hero {
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bcg.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: var(--bcg-hero-footer-color);
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.button {
  transition: background-color var(--transition-duration)
    var(--transition-timing);

  padding: 10px 32px;
  min-width: 216px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* .button.primary {
    padding: 10px 32px;
    min-width: 216px;
} */

.button:hover,
.button:focus {
  background-color: var(--hover-button);
}

/* Sections */
.section {
  padding: 94px 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Features */
.features__title {
  margin-bottom: 50px;
}

.benefits__list {
  display: flex;
}

.benefits__item:not(:last-child) {
  margin-right: 30px;
  max-width: 270px;
}

.benefits__svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;

  border-radius: 4px;
  background-color: var(--bcg-secondary-color);
}

.benefits__sub-title {
  margin-bottom: 10px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* What we do? */
.activities {
  padding-top: 0;
  padding-bottom: 94px;
}

.activities__title {
  margin-bottom: 50px;
}

.app {
  display: flex;
}

.app__item:not(:last-child) {
  margin-right: 30px;
}

.app__icon {
  display: block;
}

.app__label {
  position: relative;
}

.app__sub-title {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
  background-color: var(--label-img-section);
}

/* Our team */
.squad {
  background-color: var(--bcg-secondary-color);
}

.squad__title {
  margin-bottom: 50px;
}

.team {
  display: flex;
}

.team__item {
  width: calc((100% - 90px) / 4);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__icon {
  display: block;
  /* width: 100%; */
}

.team__info {
  padding: 30px;
}

.team__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

/* Social network */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  transition: background-color var(--transition-duration)
      var(--transition-timing),
    color var(--transition-duration) var(--transition-timing);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: var(--social-networks);
}

.social__link:hover,
.social__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social__link:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  fill: currentColor;
}

/* Regular customers */
.clientele__title {
  margin-bottom: 50px;
}

.clients {
  display: flex;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  transition: color var(--transition-duration) var(--transition-timing),
    border var(--transition-duration) var(--transition-timing);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid var(--social-networks);
  border-radius: 4px;
  color: var(--social-networks);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

/* Footer */
.footer {
  padding: 60px 0;

  color: var(--primary-white-color);
  background-color: var(--bcg-hero-footer-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.logo-address {
  margin-right: 70px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  transition: color var(--transition-duration) var(--transition-timing);

  text-decoration: none;
  color: var(--text-footer-address-color);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.footer__join-in {
  margin-right: 93px;
}

.join-in__sub-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social__link--gray-bcg {
  transition: background-color var(--transition-duration)
    var(--transition-timing);

  color: var(--primary-white-color);
  background-color: var(--bcg-icon-footer);
}

/* .footer__join-in .soc-network:hover,
.footer__join-in .soc-network:focus {
  background-color: var(--accent-color);
} */

/* .soc-network:hover,
.soc-network:focus {
  background-color: var(--accent-color);
} */

/* Subscribe form */
.subscribe__title {
  display: block;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.45;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.subscribe__form {
  display: flex;
  gap: 12px;
}

.subscribe__input {
  padding: 15px 16px;
  min-width: 358px;

  transition: border var(--transition-duration) var(--transition-timing);

  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.subscribe__input:focus {
  border: 1px solid var(--accent-color);
}

.button--secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 10px 28px;
  min-width: 200px;
}

/* Portfolio page*/
.portfolio__filters {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.portfolio__filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button {
  transition: background-color var(--transition-duration)
      var(--transition-timing),
    color var(--transition-duration) var(--transition-timing),
    box-shadow var(--transition-duration) var(--transition-timing);

  display: block;
  padding: 6px 22px;
  min-width: 73px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: var(--bcg-secondary-color);
  cursor: pointer;
}

.portfolio__button:hover,
.portfolio__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Portfolio projects list*/
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  transition: box-shadow var(--transition-duration) var(--transition-timing);

  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
}

.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.project {
  text-decoration: none;
  color: var(--primary-text-color);
}

.project:hover .project__thumb-text,
.project:focus .project__thumb-text {
  transform: translateY(0);
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__img {
  display: block;
}

.project__thumb-text {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing);

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.project__content {
  padding: 20px 24px;

  border-bottom: 1px solid var(--border-content-portfolio);
  border-right: 1px solid var(--border-content-portfolio);
  border-left: 1px solid var(--border-content-portfolio);
}

.project__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__works {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

/* Modal window */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  transition: opacity var(--transition-duration) var(--transition-timing),
    visibility var(--transition-duration) var(--transition-timing);

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform var(--transition-duration) var(--transition-timing);

  padding: 40px;
  min-height: 581px;
  width: 528px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-white-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  transition: fill var(--transition-duration) var(--transition-timing);

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  cursor: pointer;
}

.button-close:hover,
.button-close:focus {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: var(--primary-text-color);
}

.modal__label {
  display: block;
  margin-bottom: 10px;
}

.modal__text {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal__input-wrap {
  position: relative;
  display: block;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  transition: border var(--transition-duration) var(--transition-timing);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__input:focus {
  outline: transparent;
  border: 1px solid var(--accent-color);
}

.modal__svg {
  position: absolute;
  top: 11px;
  left: 12px;

  transition: fill var(--transition-duration) var(--transition-timing);
}

.modal__input:focus + .modal__svg {
  fill: var(--accent-color);
}

.modal__svg:focus {
  fill: var(--accent-color);
}

.modal__label-textarea {
  margin-bottom: 20px;
}

.modal__textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;

  transition: border var(--transition-duration) var(--transition-timing);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal__textarea:focus {
  outline: transparent;
  border: 1px solid var(--accent-color);
}

.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal__label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--secondary-text-color);
}

.modal__icon-checkbox {
  /* display: inline-block; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;

  transition: background-color var(--transition-duration)
    var(--transition-timing);

  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  fill: transparent;
}

.modal__input-checkbox:checked + .modal__icon-checkbox {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--primary-white-color);
}

.modal--license-agree {
  margin-left: 5px;

  font-size: 14px;
  line-height: 1.71;
  text-decoration-line: underline;
  color: var(--accent-color);
  cursor: pointer;
}

.button--modal {
  display: block;
  margin: 0 auto;

  padding: 10px 52px;
  min-width: 200px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}