@import './base/reset';
@import './utils/mixins';
@import './utils/hidden';

@import './utils/variables';

@import './components/body';
@import './components/container';

@import './components/common/section';
@import './components/common/title';
@import './components/common/logo';
@import './components/common/button';
@import './components/common/social';

@import './components/header/header';
@import './components/header/header-nav';
@import './components/header/header-contacts';

@import './components/hero/hero';

@import './components/features/features';

@import './components/activities/activities';
@import './components/activities/app';

@import './components/squad/squad';
@import './components/squad/team';

@import './components/clientele/clientele';

@import './components/footer/footer';
@import './components/footer/footer-address';
@import './components/footer/footer-form';

@import './components/modal/modal';

// Portfolio
@import './components/portfolio/portfolio-filters';
@import './components/portfolio/portfolio-buttons';
@import './components/portfolio/projects';
