.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @extend %list;

  // Пробую
  justify-content: center;
}

.benefits__item {
  width: 100%;
  max-width: 450px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;

  border-radius: 4px;
  background-color: $bcg-secondary-color;

  max-width: 100%;

  @media screen and (min-width: 768px) {
    // width: 354px;
    // max-width: 100%;

  @media screen and (min-width: 1200px) {
    // width: 270px;
  }
}
  }

.benefits__sub-title {
  margin-bottom: 10px;

  color: $primary-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px ) {
    text-align: center;
  }
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  color: $secondary-text-color;
}