.social {
  display: flex;
  justify-content: center;
  align-items: center;

  @extend %list;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  // transition: background-color var(--transition-duration)
  //     var(--transition-timing),
  //   color var(--transition-duration) var(--transition-timing);
  
  @include animationTwoTypes(color, background-color);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: $social-networks;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
}

  &:not(:last-child) {
    margin-right: 10px;
}
}

.social__icon {
  fill: currentColor;
}