.portfolio__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;

  @extend %list;
}

// .portfolio__filter-item:not(:last-child) {
//   margin-right: 8px;
// }