.footer {
  padding: 60px 0;

  color: $primary-white-color;
  background-color: $bcg-hero-footer-color;

  &__container {
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;

    text-align: start;
  }
}

  &__logo {
  display: block;
  margin-bottom: 20px;

  color: $primary-white-color;
}

  &__join-in {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
  margin-right: 93px;
  margin-bottom: 0;
}
}

.logo-address {
  // margin-right: 70px;

  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    // Було 70px но справа є отступ тоді
  margin-right: 70px;
  margin-bottom: 0;
}
}

.join-in__sub-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
  text-align: start;
}
  
}

.social__link--gray-bcg {
  @include animation(background-color);

  color: $primary-white-color;
  background-color: $bcg-icon-footer;
}
}