.address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;

  @extend %list;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  @include animation();

  text-decoration: none;
  color: $text-footer-address-color;

  &:hover,
  &:focus {
    color: $accent-color;
}
}