.footer {
  padding: 60px 0;

  color: $primary-white-color;
  background-color: $bcg-hero-footer-color;

  &__container {
  display: flex;
  align-items: baseline;
}

  &__logo {
  display: block;
  margin-bottom: 20px;

  color: $primary-white-color;
}

  &__join-in {
  margin-right: 93px;
}
}

.logo-address {
  margin-right: 70px;
}

.join-in__sub-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social__link--gray-bcg {
  // transition: background-color var(--transition-duration)
  //   var(--transition-timing);
  @include animation(background-color);

  color: $primary-white-color;
  background-color: $bcg-icon-footer;
}