body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  background-color: $primary-white-color;
}

.no-scroll {
  @media screen and (max-width: 767px) {
    overflow: hidden;
  }
}