.header {
  position: relative;

  border-bottom: 1px solid $border-bottom-hero;

  &__logo {
  margin-right: 93px;
}

  &__menu {
  // display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
}

  .menu-botton {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}
    
  .menu-botton .icon-close {
    display: none;
}

  .menu-botton.is-open .icon-close{
    display: block;
}

.menu-botton.is-open .icon-menu{
    display: none;
}

.menu-container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 796px;

  background-color: gray;
  padding: 40px;
  text-align: center;
  font-size: 20px;

  &.is-open {
    display: block;
  }
}