.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;

  // transition: color var(--transition-duration) var(--transition-timing);
  @include animation();

  display: block;
  padding: 32px 0;

  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  &--current,
  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--current::after {
    position: absolute;
    left: 0;
    bottom: -1px;

    display: inline-block;
    content: '';
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: $accent-color;
}
}