.clientele__title {
  margin-bottom: 50px;
}

.clients {
  display: flex;

  @extend %list;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  // transition: color var(--transition-duration) var(--transition-timing),
  //   border var(--transition-duration) var(--transition-timing);

  @include animationTwoTypes(color, border);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid $social-networks;
  border-radius: 4px;
  color: $social-networks;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
}
}

.clients__icon {
  fill: currentColor;
}