//   :root {
//   --primary-text-color: #212121;
//   --primary-white-color: #ffffff;
//   --secondary-text-color: #757575;
//   --logo-black-color: #000000;
//   --bcg-hero-footer-color: #2f303a;
//   --bcg-secondary-color: #f5f4fa;
//   --accent-color: #2196f3;
//   --text-footer-address-color: rgba(255, 255, 255, 0.6);
//   --hover-button: #188ce8;
//   --border-bottom-hero: #ececec;
//   --border-content-portfolio: #eeeeee;
//   --icon-envelope-phone: #757575;
//   --social-networks: #afb1b8;
//   --bcg-icon-footer: #44454e;
//   --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
//   --transition-duration: 250ms;
//   --label-img-section: rgba(47, 48, 58, 0.8);
// }
  
  $primary-text-color: #212121;
  $primary-white-color: #ffffff;
  $secondary-text-color: #757575;
  $logo-black-color: #000000;
  $bcg-hero-footer-color: #2f303a;
  $bcg-secondary-color: #f5f4fa;
  $accent-color: #2196f3;
  $text-footer-address-color: rgba(255, 255, 255, 0.6);
  $hover-button: #188ce8;
  $border-bottom-hero: #ececec;
  $border-content-portfolio: #eeeeee;
  $icon-envelope-phone: #757575;
  $social-networks: #afb1b8;
  $bcg-icon-footer: #44454e;
  $label-img-section: rgba(47, 48, 58, 0.8);

// :root {
//   --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
//   --transition-duration: 250ms;
//   }