:root {
  --primary-text-color: #212121;
  --primary-white-color: #ffffff;
  --secondary-text-color: #757575;
  --logo-black-color: #000000;
  --bcg-hero-footer-color: #2f303a;
  --bcg-secondary-color: #f5f4fa;
  --accent-color: #2196f3;
  --text-footer-address-color: rgba(255, 255, 255, 0.6);
  --hover-button: #188ce8;
  --border-bottom-hero: #ececec;
  --border-content-portfolio: #eeeeee;
  --icon-envelope-phone: #757575;
  --social-networks: #afb1b8;
  --bcg-icon-footer: #44454e;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --label-img-section: rgba(47, 48, 58, 0.8);
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

.button {
  transition: background-color 
    var(--transition-duration)
    var(--transition-timing);

  padding: 10px 32px;
  min-width: 216px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--hover-button);
}